.activity-container {
  position: relative;
}

.activity-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.activity-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); /* Lớp phủ tối */
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  border-radius: 0 0 0.5rem 0.5rem; /* Bo góc chỉ phần dưới */
}
